html, body {
  height: 100%;
}

.body-container.courses {
  background-color: #FF530D;
}

.body-container.rhythm {
  background-color: #FF8212;
}

.body-container.signup {
  background-color: #FFAB17;
}

.body-container.socioeconomics {
  background-color: #FFD217;
}

.geekieui-card-contents-wrapper > div.error {
  color: #de3030;
  padding: 0 0 1em;
}

.content-wrapper {
  margin-top: 40px;
}

.geekieui-card-header .header-title {
  display: block;
  font-size: 28px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}

.geekieui-logo-header {
  margin: 50px 0;
}

.header-title.login {
  color: rgb(64, 157, 196);
}

.geekieui-card-header .header-subtitle {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: rgb(140, 140, 140);
}

.geekieui-form-fieldset.stacked .geekieui-form-control {
  height: 60px !important;
  padding-left: 50px;
}

.geekieui-form-fieldset.stacked .geekieui-form-control.dropdown {
  padding: 0px;
  margin-bottom: -2px;
}

.geekieui-form-group.has-form-control-icon i.fa {
  display: block;
  width: 20px;
  left: 17px;
  text-align: center;
  top: 24px;
  color: rgb(186, 186, 186);
}

.form-error-label {
  height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 51px;
  z-index: 100;
  color: rgb(228, 75, 78);
  font-size: 10px;
}

.geekieui-card-content-header {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.geekieui-card-centered-text {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(140, 140, 140);
  font-size: 16px;
}
.geekieui-btn-temporary {
  display: block;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: rgb(64, 157, 196);
}

.signup-link-main-text {
  color: rgb(38, 45, 61);
  font-weight: 500;
  /*line-height: 25px;*/
}

.signup-link-secondary-text {
  color: rgb(150, 150, 150);
  font-size: 16px !important;
  font-weight: 600;
}

select {
  height: 60px;
  width: 100%;
  opacity: 0;
  -webkit-appearance: menulist-button;
  z-index: 1000;
  position: relative;
  cursor: pointer;
  background-color: #F5F5F5;
  border: 1px solid #C8C8C8;
  color: @base_dark_color;
}

.gk-legal-information-container {
  margin-bottom: 10px;
  text-align: center;
}

.optin {
  margin-right: 10px;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.3);

  /* Webkit browsers*/
  -webkit-transform: scale(1.3);
}

.gk-course-information-container {
    margin-bottom: 20px;
}

.gk-course-information-container .btn {
    line-height: 0.7;
}

.gk-selector-container {
  height: 50px;
  position: relative;

  margin-bottom: 20px;
  @media (max-width: @screen-xs) {
      margin-bottom: 10px;
  }
}

.gk-selector-container .current-course {
  border: 1px solid #D0D0D3;
  border-radius: @activity-card-border-radius;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  color: @base_dark_color;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  padding: 0 40px 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .box-shadow(0 0px 4px rgba(0,0,0,.15));
}


.gk-selector-container .current-course .fa, .gk-selector-container .current-course .fa:after {
  line-height: 48px;
  font-weight: normal;
}

.gk-selector-container .current-course .fa {
  position: absolute;
  right: 20px;
  top: 0;
}

.gk-selector-container .current-course:before {
  font-size: 18px;
}

.gk-courses-loading {
    text-align: center;
}

#frontroom-container {
  height: 100%;
}

.gk-gray-text {
  color: gray;
}

.choices {
  margin-bottom: 20px;
}

.choices::selection {
    background-color: initial;
 }

.choices::-moz-selection {
    background-color: initial;
}

.choices .choice {
  padding: 0;
}

.choices .choice:hover {
  background-color: inherit;
}

.choices .choice .selected {
  background-color: inherit;
}

.choices .row-wrapper {
  position: relative;
}

.gk-description {
  color: gray;
  float: right;
}

.gk-radio-container {
  margin-top: 16px;
  margin-bottom: 26px;
  margin-left: 19px;
  margin-right: 27px;
  max-height: 25px;
}

.gk-label-container {
  width: 100%;
  max-height: 25px;
}

.gk-label-container .left {
  float: left;
  width: 100px;
  margin-left: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
}

.gk-label-container .right {
  float: right;
  width: 100px;
}

.gk-label-container input[type="radio"] {
  height: 22px;
  opacity: 1;
}

.took-enem-container {
  padding: 25px 0;
}

.took-enem-label {
  line-height: 20px;
  display: inline-block;
  width: 60%;
}

.took-enem-choice {
  width: 18%;
}
